importFrom(caroline, 
		m,
		tab2df, 
		pies, 
		nv, 
		sstable, 
		groupBy, 
		regroup, 
		leghead, 
		usr2lims, 
		nerge,
		geomean,

		raPlot,		
		raAddArms,
		raAddSigLines,
		raAddAxLabs,
		hyperplot
)

importFrom(Hmisc, wtd.mean, wtd.var)
importClassesFrom(edgeR,'DGEList')
exportPattern("^[^\\.]")

